@charset "utf-8";
/* CSS Document */
/* --------------- Site:CifPay  Author:huang,yuan,chen,wang  Updated:2015.05.25 10:00  Updated by:CifPay --------------- */ 
/* --------------- Website initialization --------------- */
* { padding:0; margin:0; -moz-box-sizing:content-box; box-sizing:content-box; -webkit-box-sizing:content-box; -0-box-sizing:content-box;}
html,body,div,span,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,legend,label,img,a { border:none;}
html,body { height:100%;}
div { margin:0 auto;}
table { border-collapse:collapse;}
body { font-size:12px; line-height:1.5; font-family:"microsoft yahei", "黑体", Arial; color:#000; background:#fff; height:100%;}
*html { background-image:url(about:blank); background-attachment:fixed;}
/**html .TopBg {position:absolute;top:expression(eval(document.documentElement.scrollTop));}*/
input { border:0; outline:0; font-family:"microsoft yahei", "黑体", Arial;}
a:link,a:visited { color:#000; text-decoration:none;}
a:hover { color:#000; text-decoration:none;}
a:active { color:#000; text-decoration:none;}
a.underline:hover { text-decoration:underline;}

img { border:none; float:none; vertical-align:top;}
ul,ol { list-style:none;}
h1 { font-size:22px; font-weight:500;}
h2 { font-size:20px; font-weight:500;}
h3 { font-size:18px; font-weight:500;}
h4 { font-size:16px; font-weight:500;}
h5 { font-size:14px; font-weight:500;}
h6 { font-size:12px; font-weight:500;}
p { line-height:20px;}

/* -------------------- width --------------------  */
.MAXwidth { width:100%; min-width:1200px;}
.widthMAX_header{width:1310px;}
.widthMAX { width:1200px;}
.min_height{min-height: calc(100vh - 200px);}

/* -------------------- color --------------------  */
.Cred { color:red;}
.Cgrey { color:grey;}
.Cblue { color:blue;}
.Cgreen { color:green;}

/* popup */
.maskBg { width:100%; height:100%; left:0; top:0; position:fixed; z-index:90; background-color:#000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.5; display:none;}
*html .maskBg { position:absolute; top:expression(eval(document.documentElement.scrollTop));/*ie6.0 fixed*/}
.maskCont { position:fixed; left:0; top:0; width:100%; height:100%; overflow:auto; z-index:96; text-align:center; vertical-align:middle; display:none;}
*html .maskCont { position:absolute; top:expression(eval(document.documentElement.scrollTop));}
.maskCont span.maskSpan { height:100%; width:0; overflow:hidden; display:inline-block; vertical-align:middle;}
.maskCont .maskContent { max-width:100%; max-height:100%; position:relative; display:inline-block; vertical-align:middle; text-align:left;}

/* -------------------- Basic Settings -------------------- */
.FloatLeft { float:left;}
.FloatRight { float:right;}
.marginTop { margin-top:16px;}
.paddingTop { padding-top:16px;}
.txtCenter { text-align:center;}
.txtLeft { text-align:left;}
.txtRight { text-align:right;}
.OverHid { overflow:hidden;}
.clear:after { display:block; width:100%; clear:both; overflow:hidden; height:0px; }
.ellipsis { display:block; overflow:hidden; text-align:left; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap;}