@charset "utf-8";
/*css document*/
/*
*author: gwy(vee)
*/

.vee-top-bar{
  position: relative;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #ececec;
}
.vee-top-bar a{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin-left: 30px;
  font-size: 16px;
  color: #666;
}
.fa-chevron-left:before {
  content: "\f053";
  margin-right: 5px;
}
.vee-top-bar h2{
  width: 100%;
  height: 100%;
  text-align: center;
}
.vee-form-box{
  width: 90%;
  min-width: 1000px;
  max-width: 1200px;
  margin-top: 15px;
}
.vee-form-row{
  clear: both;
  padding-top: 15px;
  padding-left: 35px;
}
.vee-form-box label{
  display: inline-block;
  width: 85px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
.vee-form-box input.vee-same-height{
  display: inline-block;
  height: 50px;
  padding-left: 15px;
  line-height: 50px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.vee-special-name{
  width: 335px;
}
.vee-start-time{
  margin-right: 10px;
}
.vee-special-topic{
  min-width: 840px;
  width: calc(100% - 106px);
}
textarea{
  min-width: 840px;
  width: calc(100% - 110px);
  height: 100px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  font-family:"microsoft yahei", "黑体", Arial;
  resize: none;
  outline: 0;
}
label.vee-text{
  line-height: 30px;
}
.vee-img{
  position: relative;
  min-width: 860px;
  width: calc(100% - 90px);
  height: 145px;
  margin-bottom: 50px;
  border-radius: 4px;
  border: 1px dashed #ccc;
  background-color: #fcfcfc;
}
.vee-img .vee-img-show, .vee-img .vee-img-url{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.vee-img .vee-img-url{
  padding-left: 0;
  opacity: 0;
  cursor: pointer;
}
.vee-img .vee-img-text{
  position: absolute;
  left: 0;
  bottom: -30px;
  font-size: 14px;
}
.vee-img-show span, .vee-img-show img{
  position: absolute;
  left: 0;
  top: 0;
}
.vee-img-show span{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 145px;
  font-size: 36px;
  color: #aaa;
}
.vee-img-show img{
  max-width: 100%;
}
.vee-filter{
  min-width: 860px;
  width: calc(100% - 90px);
  height: auto;
  margin-bottom: 80px;
  font-size: 16px;
}
.vee-filter-search{
  height: 32px;
  padding-bottom: 10px;
}
.vee-filter-search p{
  margin-right: 40px;
  line-height: 30px;
}
.vee-filter-search p span{
  padding: 0 5px;
  color: #FB4B5F;
}
.vee-filter-search div input{
  width: 200px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid #ccc;
  line-height: 30px;
  border-radius: 0;
  font-size: 14px;
}
.vee-filter-search div a{
  width: 60px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background-color: #999;
  color: #fff;
  font-size: 14px;
}
.vee-filter-nav{
  clear: both;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}
.vee-filter-nav a{
  display: inline-block;
  margin-bottom: 8px;
  padding: 5px 10px;
}
.vee-filter-nav a:hover{
  background-color: #D7DCDE;
  border-radius: 3px;
}
.vee-filter-nav a.vee-active{
  border-radius: 3px;
  color: #fff;
  background-color: #FB4B5F;
}
.vee-filter-result, .vee-filter-choosed{
  height: 300px;
  overflow-y: auto;
}
.vee-filter-result li, .vee-filter-choosed li{
  float: left;
  margin-top: 20px;
  margin-right: 30px;
}
.vee-choose{
  float: left;
  position: relative;
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.vee-filter-result li label, .vee-filter-choosed li p{
  float: left;
  width: 210px;
  height: 22px;
  line-height: 20px;
  font-size: 16px;
}
.vee-choose span, .vee-choose input{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.vee-choose span{
  background: center center url(../images/red.png) no-repeat;
}
.vee-checkbox span{
  background-position: 0 0;
}
.vee-checkbox span.checked{
  background-position: -22px 0;
}
.vee-choose input{
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.vee-filter-choosed{
  padding: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.vee-filter-choosed li a{
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  background-color: #EC7063;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.vee-filter-type{
  clear: both;
  height: 40px;
  margin-top: 20px;
}
.vee-filter-type label, .vee-filter-type input{
  float: left;
  height: 40px;
  line-height: 40px;
}
.vee-filter-type label{
  float: left;
  width: auto;
  padding-right: 10px;
}
.vee-filter-type label.vee-first{
  width: 100px;
}
.vee-filter-type input{
  width: 12%;
  min-width: 100px;
  max-width: 150px;
  margin-right: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.vee-radio{
  height: 40px;
}
.vee-radio span{
  background-position: -88px 10px;
}
.vee-radio span.checked{
  background-position: -110px 10px;
}
.vee-radio input{
  width: 22px;
  min-width: 22px;
}
.vee-form-submit{
  clear: both;
  height: 86px;
  margin-top: 40px;
  background-color: #F4F4F4;
  text-align: center;
}
.vee-form-submit a{
  display: inline-block;
  padding: 10px 46px;
  margin: 12px 5px;
  border: 1px solid #ED5564;
  border-radius: 5px;
  font-size: 20px;
}
.vee-form-submit a.vee-submit{
  background-color: #ED5564;
  color: #fff;
}
.vee-form-submit a.vee-submit:hover{
  background-color: #FC374B;
}
.vee-form-submit a.vee-save{
  color: #333;
}
.vee-form-submit a.vee-save:hover{
  border-color: #f00;
}