/*
*faq.html style
*2015/7/30
*/

.raya-faqaddbtn {
    position: absolute;
    top: 0;
    left: 40px;
}

.raya-faqaddbtn:hover {
    cursor: pointer;
}

.raya-faqaddbtn i {
    color: #fc6461;
}

.raya-faqlisttable {
    width: 100%;
    text-align: center;
    color: #333;
}

.raya-faqlisttable thead {
    border-bottom: 2px solid #e3e4e8;
}

.raya-faqlisttable thead th {
    color: #333;
    font: bold 14px/60px "Microsoft yahei";
}

.raya-faqlisttable tr {
    height: 60px;
    line-height: 60px;
}

.raya-faqlisttable tr td {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.raya-faqlisttable tr.odd {
    background: #fff;
}

.raya-faqlisttable tr.even {
    background: #f6f6f6;
}

.raya-faqlisttable tr:hover {
    background: #f2f2f2;
}

.raya-faqlisttable .raya-op-edit,
.raya-op-del {
    float: left;
    display: block;
    width: 80px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    color:#333;
    border: 1px solid #f37f8a;
    border-radius: 12px;
}

.raya-faqlisttable .raya-op-edit:hover,
.raya-op-del:hover {
    cursor: pointer;
    color: #fff;
    background: #fc6461;
}

.mr-10 {
    margin-right: 10px;
}
